################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ReactDemo/psadmin/Bin
/ReactDemo/psadmin/Web.Debug.config
/ReactDemo/psadmin/Web.config
/ReactDemo/psadmin/packages.config
/ReactDemo/packages
/ReactDemo/psadmin/node_modules
